html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fredoka";
}

/* --------------------------------------MODAL NEWS SECTION----------------------------------------------- */

.header {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 5px solid #7279f3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  max-width: 80px;
  height: auto;
}

.title {
  color: #6e51f0;
  font-size: 30px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.icon-link {
  margin-top: 0;
  display: flex;
  z-index: 10;
  color: #6e51f0;
  font-size: 40px;
  text-decoration: none;
  justify-content: end;
  transition: transform 0.3s ease;
}

.icon-link:hover,
.icon-link:focus {
  transform: scale(1.1);
}

.gol-news:hover,
.brahim-news:hover,
.bellingham-news:hover,
.salary-news:hover,
.kross-news:hover,
.modric-news:hover {
  box-shadow: 0 0 15px 5px rgba(110, 81, 240, 1);
}

/* ---------------------------------------------------------NEWS SECTION-------------------------------------------------------------- */

.images-news {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.photo-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.gol-news,
.brahim-news,
.bellingham-news,
.salary-news,
.kross-news,
.modric-news {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid #6e51f0;
  cursor: pointer;
  overflow: hidden;
}

.image-title {
  font-family: "Fredoka";
  font-size: 1.5rem;
  margin-top: 10px;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  overflow-y: auto;
}

.gol-news-little-image,
.brahim-news-little-image,
.bellingham-news-little-image,
.salary-news-little-image,
.kross-news-little-image,
.modric-news-little-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.gol-news-little-title,
.brahim-news-little-title,
.bellingham-news-little-title,
.salary-news-little-title,
.kross-news-little-title,
.modric-news-little-title {
  font-family: "Fredoka";
  font-style: bold;
  font-weight: 600;
  font-size: 32px;
}

.gol-news-little-subtitle,
.brahim-news-little-subtitle,
.bellingham-news-little-subtitle,
.salary-news-little-subtitle,
.kross-news-little-subtitle,
.modric-news-little-subtitle {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding: 20px;
}

.gol-news-little-text,
.brahim-news-little-text,
.bellingham-news-little-text,
.salary-news-little-text,
.kross-news-little-text,
.modric-news-little-text {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 20px;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #6e51f0;
  cursor: pointer;
}

/* ---------------------------------------------------------FOOTER SECTION-------------------------------------------------------------- */

.footer-section {
  margin-top: 100px;
  background-color: #7279f3;
  color: white;
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fredoka", sans-serif;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: #021218;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.social-icon,
.app-store,
.google-play {
  font-size: 30px;
  margin: 0 10px;
  color: #021218;
}

.footer-logo img {
  max-width: 100px;
  margin-top: 20px;
}

.information a {
  color: #021218;
  text-decoration: none;
}

.social-icon:hover,
.app-store:hover,
.google-play:hover {
  color: white;
  background: none;
}

.information a:hover {
  text-decoration: underline;
}

/* ---------------------------------------------------------MEDIA SECTION-------------------------------------------------------------- */

@media (max-width: 768px) {
  .header,
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .header-content,
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .images-news {
    flex-direction: column;
  }

  .photo-title {
    width: 90%;
  }

  .modal-content {
    margin: 20% auto;
  }
}
